@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Titan+One&display=swap');

body {
  margin: 0;
}

code {
  font-family: 'Lato', sans-serif;
  font-family: 'Titan One', cursive;
}
